<?xml version="1.0"?>
<model>
  <name>Lego Robot Gyro</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Rasmus Iila</name>
   <email>rasmusiila@gmail.com</email>
  </author>

  <description>
    My lego robot with a gyro sensor attached.
  </description>
</model>
